<div class="block_stats">
  <div>
    <img src="{{ img }}.png"/>
    <div class="human">
      <span class="name">{{ name }}</span>
      <span class="followers">{{ followers }}</span>
    </div>
  </div>

  <div>
    <ul class="stats">
      {% for key, stat in stats %}
        <li 
      {% endfor %}
    </ul>
  </div>
</div>
